{% extends "::base.html.twig" %}
{% block navbar %}
    {{ render(controller("AppBundle:Header:header")) }}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-3">
                    <p>Copyright &copy; CSGOFactory 2016</p>
                </div>
                <div class="col-lg-3">
                    <a href="{{ url('contact') }}"><b>Contact us</b></a>
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                    <p>Powered by <a href="https://symfony.com"><img src="{{ asset('bundles/framework/images/logo_symfony.png') }}" alt="Symfony logo" height="25px"></a></p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}