<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CSGOFactory</title>

    <link href="{{ asset('css/shop/templateEmail.css') }}" rel="stylesheet" type="text/css">

</head>

<body bgcolor="#FFFFFF" style="-webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%!important;
    height: 100%;
    ">

<!-- HEADER -->
<table class="head-wrap" bgcolor="black" style="width: 100%;min-height: 30px;">
    <tr>
        <td></td>
        <td class="header container" style="
        display:block!important;
        max-width:600px!important;
        margin:0 auto!important;
        clear:both!important;">

                <div class="content">
                <table bgcolor="#999999">
                    <tr>
                        <td align="right"><h6 style="margin:0;
                        padding:0;
                        font-weight:900; font-size: 14px;
                        text-transform: uppercase; color:#444;
                        ">Registration CSGOFactory</h6></td>
                    </tr>
                </table>
                </div>

        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF" style="width: 100%;">

            <div class="content" style="
            padding:15px;
            max-width:600px;
            margin:0 auto;
            display:block;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3 style="font-family: Helvetica, Arial , sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;font-weight:500; font-size: 27px;">Hi, {{ user.username }}</h3>
                        <p class="lead" style="margin-bottom: 10px;
                        font-weight: normal;
                        font-size:14px;
                        line-height:1.6;
                        ">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
                        <p style="margin-bottom: 10px;
                        font-weight: normal;
                        font-size:14px;
                        line-height:1.6;">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.</p>
                        <!-- Callout Panel -->
                        <p class="callout" style="    padding:15px;
                                background-color:#ECF8FF;
                                margin-bottom: 15px;
                                font-weight: normal;
                                font-size:14px;
                                line-height:1.6;">
                            You can activate your account by accessing <a style="color: #2BA6CB;" href="{{ confirmationUrl }}">her </a>.
                        </p><!-- /Callout Panel -->

                        <!-- social & contact -->
                        <table class="social" width="100%" style="background-color: #ebebeb;">
                            <tr>
                                <td>

                                    <!-- column 1 -->
                                    <table align="left" class="column" style="width: 300px; float:left ;min-width: 279px;">
                                        <tr>
                                            <td style="padding: 15px;">
                                                <img style="max-width: 100%;" src="http://t0.gstatic.com/images?q=tbn:ANd9GcRZzLm4P-r0RQQ97tTjnx5rKt71_rJvC2eNGyrXPFOwt4Dg3Z74ql3e2yA" />
                                            </td>
                                        </tr>
                                    </table><!-- /column 1 -->

                                    <!-- column 2 -->
                                    <table align="left" class="column" style="width: 300px; float:left;">
                                        <tr>
                                            <td style="padding: 15px;">

                                                <h5 class="" style="font-family: Helvetica,
                                                 Arial , sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
                                                 font-weight:900; font-size: 17px;" >Contact Info:</h5>
                                                <p style="margin-bottom: 10px;
                                                font-weight: normal;
                                                font-size:14px;
                                                line-height:1.6;">Phone: <strong>0770188132</strong><br/>
                Email: <strong><a  style="color: #2BA6CB;" href="contact.csgo@gmail.com">contact.csgo@gmail.com</a></strong></p>

                                            </td>
                                        </tr>
                                    </table><!-- /column 2 -->

                                    <span class="clear" style="display: block; clear: both;"></span>

                                </td>
                            </tr>
                        </table><!-- /social & contact -->

                    </td>
                </tr>
            </table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="width: 100%;	clear:both!important;">
    <tr>
    </tr>
</table><!-- /FOOTER -->

</body>
</html>
