<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Template mailing Alsacreations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta content="width=device-width">
    <style type="text/css">
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
    body { background-color: #2A374E; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }
    
    @media only screen and (max-width: 480px) { 

        table[class=w275], td[class=w275], img[class=w275] { width:135px !important; }
        table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }  
        table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
        table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }
        img{ height:auto;}
         /*illisible, on passe donc sur 3 lignes */
        table[class=w180], td[class=w180], img[class=w180] { 
            width:280px !important; 
            display:block;
        }    
        td[class=w20]{ display:none; }    
    } 

    </style>
   
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none; padding-top: 30px;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(42, 55, 78); " >
        <tbody>
            <tr>
                <td align="center" bgcolor="#2A374E">
                    <table  cellpadding="0" cellspacing="0" border="0">
                        <tbody>                            
                            <tr>
                                <td class="w640"  width="640" height="10"></td>
                            </tr>

                            <tr>
                                <td align="center" class="w640"  width="640" height="20"> <a style="color:#ffffff; font-size:12px;" href="#"><span style="color:#ffffff; font-size:12px;"></span></a> </td>
                            </tr>
                            <tr>
                                <td class="w640"  width="640" height="10"></td>
                            </tr>


                            <!-- entete -->
                            <tr class="pagetoplogo">
                                <td class="w640"  width="640">
                                    <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
                                        <tbody>
                                            <tr>
                                                <td class="w30"  width="30"></td>
                                                <td  class="w580"  width="580" valign="middle" align="left">
                                                    <div class="pagetoplogo-content">
                                                        <img class="w580" style=" padding-left: 60px; text-decoration: none; display: block; color:#476688; font-size:30px;" src="http://image.noelshack.com/fichiers/2016/50/1481881108-csgofacotya.png" alt="CSGOFactory" width="482" height="108" />
                                                    </div>
                                                </td> 
                                                <td class="w30"  width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!-- separateur horizontal -->
                            <tr>
                                <td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
                            </tr>

                             <!-- contenu -->
                            <tr class="content">
                                <td class="w640" width="640" bgcolor="#ffffff" >
                                    <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td  class="w30"  width="30"></td>
                                                <td  class="w580"  width="580">
                                                    <!-- une zone de contenu -->
                                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>                                                            
                                                            <tr>
                                                                <td class="w580"  width="580">
                                                                    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                                                        Activate my account : </h2>

                                                                    <div align="left" class="article-content">
                                                                        <h3 style="color: black">Hi {{ user.username }},</h3>
                                                                        <p style="color: black">
                                                                            Thank you for signing up on CSGOFactory. Please activate your account by clicking to the button below.<br/>
                                                                            {#<a style="color: #2BA6CB;" class="" href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>.#}


                                                                            <table border="0" cellpadding="10" cellspacing="0" width="180">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style="background:#1892e6;border-radius:5px" valign="top">
                                                                                            <a href="{{ confirmationUrl }}"
                                                                                               style="color:#ffffff;display:block;font-size:13px;font-weight:bold;
                                                                               text-align:center;text-decoration:none;text-transform:uppercase;
                                                                               font-family:Arial,Helvetica,sans-serif" target="_blank">Activate Account</a> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- fin zone -->

                                                    <!-- une autre zone de contenu -->
                                                    <table class="w580"  width="580" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td colspan="3">
                                                                <h2 style="color:#0E7693; font-size:22px; ">
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="w275"  width="275" valign="top">
                                                                <div align="left" class="article-content">
                                                                    <img class="w580" style="margin-left: 170px; text-decoration: none; display: block; color:#476688; font-size:30px;" src="http://csgofactory.weebly.com/uploads/6/5/3/8/65387873/1450565039.png" alt="CSGOFactory"/>
                                                                </div>
                                                            </td>
                                                            <td class="w30"  width="30"></td>
                                                            <td class="w275"  width="275" valign="top">
                                                                <div align="left" class="article-content">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" class="w580" height="1" bgcolor="#c7c5c5"></td>
                                                        </tr>

                                                        </tbody>
                                                    </table>



                                                </td>
                                                <td class="w30" width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--  separateur horizontal de 15px de haut -->
                            <tr>
                                <td class="w640"  width="640" height="15" bgcolor="#ffffff"></td>
                            </tr>

                            <!-- pied de page -->
                            <tr class="pagebottom">
                                <td class="w640"  width="640">
                                    <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                                        <tbody>
                                            <tr>
                                                <td colspan="5" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td class="w30"  width="30"></td>
                                                <td class="w580"  width="580" valign="top">
                                                    <p align="right" class="pagebottom-content-left">
                                                        <span style="color:#255D5C;">CSGOFactory</span>
                                                    </p>
                                                </td>

                                                <td class="w30"  width="30"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" height="10"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="w640"  width="640" height="60"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
