{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/shop/checkEmail.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" id="contenu">
        <div class="row">
            <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-6 col-lg-6 col-md-6 alert alert-success">
                <p id="text">Successful registration !</p>
            </div>
        </div>
        <div class="row">
            <div class="well col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-6 col-lg-6 col-md-6">
                <h4>Check you email address :</h4>
                <p>To activate your account, please confirm your email address by clicking on the send link to {{ user.email }}.</p>
                <br/>
                <p>To continue click <a href="{{ path('shop') }}">her</a>.</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
