{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/shop/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Add a collection</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}



