{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/shop/homepage.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

    {#{{ dump(user) }}#}

    <div class="container">
        <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <h2>My Profile</h2>
            </div>

            <div class="row" id="btnUpdateProfil">
                <a href="{{ url('profile_update') }}" class="btn btn-info">Edit my informations</a>
            </div>
        </div>
    </div>

    <div class="footerSpace"></div>

{% endblock %}
